.Resume {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Resume h1 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.blur9 {
    top: 15rem;
    left: 0rem;
}

.blur10 {
    right: 19rem;
    bottom: 8rem;
}

.blur11 {
    box-shadow: 0 0 1000px 80px var(--light-red);
}