:root {
    --dark: #212121;
    --light: #F9F3F1;
    --light-red: #800C07;
    --dark-red: #76230E;
    --black: black;
}

.content {
    padding-top: 13rem;
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.introText {
    color: var(--light);
    font-size: 2.1rem;
    z-index: 10000;
}

.name {
    font-size: 5.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px var(--light-red);
    padding-left: .3rem;
    padding-right: .7rem;
}

.itachi {
    background-image: url('../assests/itachi.jpg');
    background-size: 70rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-position-x: -1%;
    background-position-y: 5%;
    background-color: var(--dark);
    border: 3px solid var(--light-red);
    box-shadow: .5rem .5rem 1rem .5rem var(--light-red);
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}