.footer {
    max-width: 90%;
}

.footerCont {
    padding-top: 10rem;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around; 
    padding-bottom: 1rem;
}

.footerCont li {
    padding-left: 1rem;
    padding-right: 1rem;
}

.footerCont li a {
    font-size: 1.7rem;
    padding: 2rem;
}