.Projects {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjCont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.Img {
    width: 100%;
    height: 100%;
}

.Project1 {
    background-size: cover;
    background-image: url("../assests/images/proj_2_demoo.JPG");
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}

.ProjDetails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.ProjDemo {
    height: 20rem;
    width: 20rem;
}