.Projects {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.ProjDetails {
    display: flex;
    padding: 1rem;
}